body .gform_wrapper ul.gform_fields.column{
	float:left;
	margin-right:1% !important;
}

body .gform_wrapper ul.gform_fields.column:last-child{
	margin-right:0 !important;
}

body .gform_wrapper ul.gform_fields.column.columns_2{
	width:calc((100%/2) - (1%/2));
}

body .gform_wrapper ul.gform_fields.column.columns_3{
	width:calc((100%/3) - (2%/3));
}

body .gform_wrapper ul.gform_fields.column.columns_4{
	width:calc((100%/4) - (3%/4));
}

body .gform_wrapper ul.gform_fields.column.columns_5{
	width:calc((100%/5) - (4%/5));
}

@media(max-width:767px){
	body .gform_wrapper ul.gform_fields.column{
		float:none;
		margin-right:0 !important;
	}
	body .gform_wrapper ul.gform_fields.column.columns_2,
	body .gform_wrapper ul.gform_fields.column.columns_3,
	body .gform_wrapper ul.gform_fields.column.columns_4,
	body .gform_wrapper ul.gform_fields.column.columns_5{
		width:auto;
	}
}